requests~=2.32.3
pydantic~=2.11.4
fastapi~=0.115.12
sqlalchemy~=2.0.41
h11~=0.16.0
pip~=22.0.4
exceptiongroup~=1.3.0
sniffio~=1.3.1
certifi~=2025.4.26
starlette~=0.46.2
anyio~=4.9.0
urllib3~=2.4.0
click~=8.1.8
uvicorn~=0.34.2
greenlet~=3.2.2
annotated-types~=0.7.0
idna~=3.10
charset-normalizer~=3.4.2
setuptools~=58.1.0